/* FinTrackr Website Styles - Extended */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.6;
}

body {
  
  position: relative;
  background: transparent; /* MUST be transparent */
  color: #fff;
}

/* body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 30, 0.1); /* Slight dark overlay 
  z-index: -1;
} */

/* Font Visibility Upgrade */
h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  color: #ffffff; /* Darker Heading Color */
  font-weight: 700; /* Bold Headings */
  text-shadow: 1px 1px 2px rgb(0, 0, 0); /* Soft Black Glow */
}

p,
li {
  font-family: "Poppins", sans-serif;
  color: #ffffff; /* Slightly Darker Paragraph Text */
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0); /* Tiny shadow for better clarity */
}

header {
  background: radial-gradient(circle at center, #1b226c, #0d081a);
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo h2 {
  font-size: 2rem;
  color: #fff;
}

.highlight {
  color: #0077ff;
}

.loginbutton {
  background: #0077ff;
  padding: 0.5rem 1.2rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.loginbutton:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.nav-links li a {
  color: #e0e0ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.nav-links li a:hover {
  color: #0077ff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 8rem 5% 6rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.cta-btn {
  background: #0077ff;
  color: white;
  border: none;
  padding: 1.2rem 2.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 119, 255, 0.4);
  transition: all 0.4s ease;
}

.cta-btn:hover {
  background: #005fcc;
  transform: scale(1.08);
  box-shadow: 0 0 20px #0077ff, 0 0 20px #0077ff, 0 0 10px #0077ff;
}

/*.typing-text {
  font-size: 40px;
  font-weight: 600;
  min-width: 280px;
}*/
.typing-text span {
  position: relative;
}
.typing-text span::before {
  content: "Track";
  color: #0077ff;
  animation: words 5s infinite;
}
@keyframes words {
  0%,
  20% {
    content: "Grow";
  }
  21%,
  40% {
    content: "Master";
  }
}

/* Features Section */
.features {
  padding: 4rem 5%;
  text-align: center;
}

.feature:hover {
  box-shadow: 0 0 20px #0077ff, 0 0 10px #0077ff, 0 0 10px #0077ff;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
/*.feature {
  display: flex;
  justify-content: center;
}*/
.feature {
  background: rgba(0, 0, 0, 0.5);
}

.feature h3 {
  margin-top: 25px;
}

/* Updated Box Style */
.feature,
.service-card,
.portfolio-card,
.pricing-card,
.review {
  background: rgba(29, 6, 45, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.3s;
}

/* Small Card Specific Tweaks */
.feature:hover,
.service-card:hover,
.portfolio-card:hover,
.pricing-card:hover,
.review:hover {
  transform: translateY(-8px);
}

.feature i,
.service-card i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0077ff;
}
/*section {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 10px;
}*/
#asset-section,
#asset-list-section {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 10px;
}

.add-asset form,
.asset-list table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.add-asset input,
.add-asset select,
.add-asset button {
  padding: 0.8rem;
  flex: 1;
  border-radius: 5px;
  border: none;
}

.add-asset button {
  background: #6c63ff;
  color: white;
  cursor: pointer;
}

.asset-list table {
  border-collapse: collapse;
  width: 100%;
}

.asset-list th,
.asset-list td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #2a2d55;
}

.asset-list th {
  color: #a0aec0;
}

.asset-list td {
  color: #e2e8f0;
}

.asset-list td:last-child {
  font-weight: bold;
}

.asset-list td.positive {
  color: #68d391;
}

.asset-list td.negative {
  color: #fc8181;
}

.info-section {
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 16px;
  margin-top: 4rem;
}

.info-section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #7fdbff;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2.5rem;
  justify-items: center;
}

.info-card {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1.2rem 2.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 119, 255, 0.4);
  transition: all 0.4s ease;
}

.info-card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #0077ff, 0 0 20px #0077ff, 0 0 10px #0077ff;
}

.info-card h3 {
  font-size: 1.4rem;
  color: #ffffff;
  margin: 1rem 0 0.5rem;
}

.info-card p {
  font-family: cursive;
  font-size: 0.95rem;
  line-height: 1.5;
}

.info-card img {
  max-width: 50px;
  margin-bottom: 1rem;
}

/* Alerts Section */
.alerts-section {
  text-align: center;
  padding: 4rem 2rem;
  background: #10142f;
  color: #fff;
}

.alerts-section h2 {
  font-size: 2rem;
  color: #7fdbff;
}

.alerts-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem;
}

.alert-card {
  padding: 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.alert-card.yellow {
  background-color: #ffd54f;
  color: #333;
}
.alert-card.violet {
  background-color: #9b59b6;
  color: #fff;
}
.alert-card.blue {
  background-color: #3498db;
  color: #fff;
}
.alert-card.orange {
  background-color: #e67e22;
  color: #fff;
}

/* Pricing Section */
.pricing-section {
  padding: 4rem 2rem;
  background: #0f102d;
  color: #fff;
  text-align: center;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pricing-text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.pricing-value h3 {
  font-size: 2.5rem;
  color: #7fdbff;
}

/* ---------------Footer----------------------- */
footer {
  background: #111;
  color: #ddd;
  padding: 3rem 5%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer-section h4,
.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.footer-section a:hover {
  color: #fff;
}

.featureslist {
  color: #969595;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.featureslist:hover {
  color: #fff;
}
.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #fff6f6;
  padding: 10px;
}
.footer-line {
  max-width: 30%;
  margin: 10px auto; /* centers it */
  border: none;
  border-top: 1px solid #ccc; /* or any color you like */
}
.footer-buttons {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  gap: 1rem; /* Space between buttons */
  align-items: center; /* Optional: center buttons horizontally */
  margin-top: 1rem;
}
.footer-buttons button {
  background: #0077ff;
  color: white;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  min-width: 200px;
  text-align: center;
}

.footer-buttons button:hover {
  background: linear-gradient(to right, #8f44fd, #7f5eff);
  transition: 0.2s ease;
}

  
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Move particles above the background image */
  pointer-events: none; /* Allows you to click buttons through the particles */
}
#bg-overlay {
  position: fixed;
  inset: 0;
  /* Add your image here instead of the body */
  background: linear-gradient(rgba(0,0,30,0.35), rgba(0,0,30,0.35)),
              url("./utils/your-background.jpg") center/cover no-repeat;
  z-index: 0; /* Bottom layer */
}
/* Ensure all your content is above the particles */
header, section, footer {
  position: relative;
  z-index: 10; 
}